[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = blue
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	ci = commit
	co = checkout
	fstash = !git-fast-stash
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	undo-last = reset --soft HEAD
[oh-my-zsh]
	hide-status = 1
	hide-dirty = 1
[core]
	ignorecase = false
[commit]
	gpgsign = false
[gpg]
	program = gpg
[pull]
	rebase = false
[push]
	default = simple
[includeIf "gitdir:~/dotfiles/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/Projects/"]
	path = ~/.gitconfig-personal
